/* Contenedor principal de la aplicación */
/* demo.css */

/* Estilo de fondo opcional para la aplicación */
.app {
    background-color: #f8f9fa;
    padding: 20px;
    min-height: 100vh;
}

/* Ajustes de diseño para el contenedor de tarjetas */
.card-container {
    max-width: 100%;
    margin: auto;
   
}
