/* Contenedor principal de la aplicación */
/* demo.css */

/* Estilo de fondo opcional para la aplicación */
.app {
    background-color: #f8f9fa;
    padding: 20px;
    min-height: 100vh;
}

/* Ajustes de diseño para el contenedor de tarjetas */
.card-container {
    max-width: 100%;
    margin: auto;
   
}

.button {
    background-color: #39FF14; /* verde fosforescente */
    color: #2c2c54;
    border: 2px solid #ffeb3b; /* amarillo brillante */
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Luckiest Guy', cursive;
    transition: transform 0.3s, box-shadow 0.3s;
}
